h1 {
  font-size: 96px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 80px;
}

h2 {
  font-size: 24px;
  text-align: center;
  color: rgb(30, 47, 63);
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

section {
  width: 100%;
  height: 100vh;
  background-image: url('/img/Hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}