footer {
  background-color: #000000;
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

img {
  height: 44px;
  width: auto;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-left p {
  color: white;
  font-size: 30px;
}

a {
  color: white;
  text-decoration: none;
}