section {
  padding: 120px 0;
  width: 100%;
  background-image: url('/img/background-our-menu.jpg');
}

h3 {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  margin-bottom: 64px;
  text-align: center;
  font-size: 80px;
  color: rgb(159, 9, 8);
}

img {
  width: 352px;
  height: 352px;
}

.menu {
  margin-bottom: 56px;
}