  nav {
    padding: 32px;
    display: flex;
    justify-content: space-between;

    img {
      width: 64px;
      height: 64px;
    }
  }

  .nav-links,
  .contact-info {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
      text-decoration: none;
      color: white;
      font-weight: 400;
      font-size: 18px;
    }

    a:hover {
      color: rgb(255, 187, 215);
    }
  }

  .phone {
    width: 24px !important;
    height: 24px !important;
  }

  .phone-contact {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #b30707;
    padding: 3px 8px;
    border: solid 2px white;
    border-radius: 10px;
  }

  .phone-contact:hover {
    scale: 1.1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }