  nav {
    padding: 32px;
    display: flex;
    justify-content: space-between;

    img {
      width: 32px;
      height: 32px;
    }
  }

  .nav-links,
  .contact-info {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 18px;
    }

    a:hover {
      color: rgb(255, 187, 215);
    }
  }