h2 {
  margin: 120px 0 64px 0;
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  color: #9F0908;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 120px;

  img {
    width: 128px;
    margin-bottom: 16px;
  }
}

p {
  font-family: "economica", sans-serif;
  font-size: 56px;
  font-weight: bold;
}

div {
  text-align: center;
}